
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f7;
  text-align: center;
}

/* sorts */
#age_dropdown, #location_dropdown, #color_dropdown {
  display: none;
}

.sorters {
  display: none;
}

/* Header */
header {
  font-size: 2.2rem;
  font-weight: bold;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Map container */
#map {
  width: 100vw;
  height: 50em;
  border: 4px solid #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Sidebar for filters */
#controls {
  position: absolute;
  top: 90px;
  left: 20px;
  background: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 200px;
  text-align: left;
  font-size: 14px;
}

#controls h3 {
  margin-top: 0;
  font-size: 16px;
}

button {
  background-color: #68b0ab;
  border: none;
  padding: 8px;
  margin-top: 8px;
  width: fit-content;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #4d908e;
}

#reset {
  color: white;
}

/* table */
#squirrelTable {
  color: black;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

#map {
  flex: 2 1 65%;
}

table {
  flex: 1 1 35%;
  max-width: 35%;
  background: white;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
