body {
  padding: 0;
  margin: 0;
  font: 16px "Comic Sans MS", "Lucida Grande", Helvetica, Arial, sans-serif; 
  text-align: center; 
}

a {
  color: #00B7FF;
  text-decoration: none; 
}

/* map */
#map {
  width: 100vw;
  height: 50em;
  margin: 0 auto; 
}
