body {
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #c6ec84e3;
}

/* Header */
h1 {
  font-size: 2.2rem;
  font-weight: bold;
  padding: 20px 0px;
  margin: 0;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100vw;
  text-align: center;
}

/* Main layout */
.container {
  display: flex;
  width: 40%;
  justify-content: center;
  width: 100vw;
  padding: 3em 0em;
  margin: 0;
}

.content {
  flex: 0 0 40%;
  display: flex;
  flex-wrap: wrap; 
}

.filter_controls {
  text-align: left;
}

/* Map */
#map {
  flex: 0 0 100%;
  height: 30em; /* smaller height so table fits */
  border: 4px solid #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Table */
#squirrelTable {
  flex: 0 0 100%;
  background: white;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  color: black;
  overflow-y: auto;
  display: block;
}

/* Controls */
#controls {
  position: absolute;
  top: 90px;
  left: 20px;
  background: black;
  color: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 200px;
  text-align: left;
  font-size: 14px;
}

#controls h3 {
  margin-top: 0;
  font-size: 16px;
}

button {
  background-color: #68b0ab;
  border: none;
  padding: 8px;
  margin-top: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #4d908e;
}
.sorters {
  display: none;
}
