
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f7;
  text-align: center;
}

/* sorts */
#age_dropdown, #location_dropdown, #color_dropdown {
  display: none;
}

.sorters {
  display: none;
}


/* Header */
header {
  font-size: 2.2rem;
  font-weight: bold;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Map container */
#map {
  width: 100vw;
  height: 50em;
  border: 4px solid #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Sidebar for filters */
#controls {
  position: absolute;
  top: 90px;
  left: 20px;
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 200px;
  text-align: left;
  font-size: 14px;
}

#controls h3 {
  margin-top: 0;
  font-size: 16px;
}

button {
  background-color: #68b0ab;
  border: none;
  color: white;
  padding: 8px;
  margin-top: 8px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #4d908e;
}

