body {
  padding: 0;
  margin: 0;
  font: 16px "Comic Sans MS", "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

/* map */
.container {
  display: flex;
  height: 80vh;
}

#map {
  width: 50vw;
  margin: 0;
  flex: 1 1 60%;
}

#squirrelTable {
  width: 50vw;
  margin: 0;
  flex: 1 1 40%;
}