body {
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #c6ec84e3;
  overflow-x: hidden;
}

/* Header */
header {
  position: sticky;
  top: 0;
  z-index: 10000;
}

h1 {
  font-size: 2.2rem;
  font-weight: bold;
  font-family: 'Lucida Handwriting', sans-serif;

  padding: 20px 0px;
  margin: 0;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 100vw;
  text-align: center;
}

/* Main layout */
.container {
  display: flex;
  width: 40%;
  justify-content: center;
  width: 100vw;
  padding: 3em 0em;
  margin: 0;
}

.content {
  flex: 0 0 100%;
  width: 400px;
  display: flex;
  padding-top: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.left {
  flex: 0 0 45%;
  padding: 1em;
}

.right {
  flex: 0 0 45%;
  padding: 1em;
}

.filter_controls {
  padding-bottom: 1em;
}

/* Map */
#map {
  flex: 0 0 70%;
  height: 35em;
  /* smaller height so table fits */
  border: 4px solid #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Table */
#squirrelTable {
  flex: 0 0 30%;
  background: white;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  color: black;
  overflow-y: auto;
  display: block;
}

/* Controls */
#controls {
  position: absolute;
  top: 90px;
  left: 20px;
  background: black;
  color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 200px;
  text-align: left;
  font-size: 14px;
}

#controls h3 {
  margin-top: 0;
  font-size: 16px;
}

button {
  background-color: #68b0ab;
  border: none;
  padding: 8px;
  margin-top: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #4d908e;
}

.sorters {
  display: none;
}

#reset {
  color: white;
}
